:root{
    --text-highlight-color: #D5E0EB;

}

.highlight {
    background-image: linear-gradient(90deg,rgba(255,255,255,0) 50%,var(--text-highlight-color,#fe9) 0);
    background-size: 200%;
    background-position: 0;
    transition: background-position .8s
}

.highlight.highlighted {
    background-position: -100%
}

blockquote {
    text-align: left;
    padding-left: 15px;
    border-left: 4px solid #2c629c
}

@media(min-width: 64rem) {
    .content-blockquote {
        font-family:var(--font-family-display),var(--font-family-display-fallback);
        font-size: var(--font-size-80-responsive-display);
        letter-spacing: var(--font-size-80-responsive-display-letter-spacing);
        font-variation-settings: var(--font-variation-settings-display-normal-roman);
        font-feature-settings: var(--font-feature-settings-display-roman);
        margin-left: auto;
        margin-right: auto
    }
}